*.pyc
*.swp
*.error
*.log
.idea
.venv
tassadar.pid
.DS_Store

logs/*
conf/*
!conf/logging.conf
!conf/tools_logging.conf
!conf/mobius_spec_urls*
!conf/schema.json
!conf/app.yaml

supervisord.log
sync
watchdog

tassadar.tgz

.project
.settings/*
.pydevproject
.vscode

nohup.out

deepseek/api/.ipynb_checkpoints
/deepseek/api/milvus_demo.db
/deepseek/api/.milvus_demo.db.lock
/deepseek/rednote/.ipynb_checkpoints/
